@model IEnumerable<RecOutletWarehouse.Models.SALE_PRICING>

@{
    ViewBag.Title = "ViewSalesPrice";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>ViewSalesPrice</h2>

<p>
    @Html.ActionLink("Create", "CreateSalesPrice")
</p>
<table>
    <tr>
        <th>
           Event Description
        </th>
        <th>
            Item Name
        </th>
        <th>
            RPC
        </th>
        <th>
            Original Selling Price
        </th>
        <th>
            Sale Price
        </th>
        <th>
            Effective Dates
        </th>
        <th>
            Comments
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EVENT_TYPE.EventDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITEM.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecRPC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITEM.SellPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeginDate) -
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditSalesPrice", new { etc = item.EventTypeCode, rpc = item.RecRPC })
        </td>
    </tr>
}

</table>
