@model RecOutletWarehouse.Controllers.PurchaseOrderController.PurchaseOrderCreationViewModel
@{
    ViewBag.Title = "Create New Purchase Order";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section tabnavigation{
    <ul class="nav clearfix">
        <li>@Html.ActionLink("Browse/Search POs","SearchPO")</li>
        <li class="active">@Html.ActionLink("Create New PO","CreateNewPO")</li>
    </ul>  
}

<h2>Create a new Purchase Order</h2>
@using (Html.BeginForm()) {
    <table>
        <tr>
            <td>Purchase Order ID:</td>
            <td>
                @Html.TextBoxFor(model => model.PO.PurchaseOrderId, new { @Value = ViewBag.PO })
                @Html.ValidationMessageFor(model => model.PO.PurchaseOrderId)
            </td>
        </tr>
        <tr>
            <td>Vendor:</td>
            <td>
                @Html.TextBoxFor(model => model.PO.Vendor, new { @id = "vendor" })
                @Html.ValidationMessageFor(model => model.PO.Vendor)
            </td>
        </tr>
        <tr>
            <td>PO Order Date:</td>
            <td>
                @Html.TextBox("PO.OrderDate", DateTime.Now.ToString("yyyy-MM-dd"), new { type = "date" })
                @Html.ValidationMessageFor(model => model.PO.OrderDate)
            </td>
        </tr>
        <tr>
            <td>PO Estimated Ship Date:</td>
            <td>
                @Html.TextBox("PO.EstShipDate", DateTime.Now.AddDays(10).ToString("yyyy-MM-dd"), new{ type="date" })
                @Html.ValidationMessageFor(model => model.PO.EstShipDate)
            </td>
        </tr>
        <tr>
            <td>PO Estimated Freight Cost:</td>
            <td>
                @Html.TextBoxFor(model => model.PO.FreightCost)
                @Html.ValidationMessageFor(model => model.PO.FreightCost)
            </td>
        </tr>
        <tr>
            <td>PO Terms:</td>
            <td>
                @Html.TextBoxFor(model => model.PO.Terms)
                @Html.ValidationMessageFor(model => model.PO.Terms)
            </td>
        </tr>
        <tr>
            <td>Order Comments:</td>
            <td>
                @Html.TextAreaFor(model => model.PO.Comments)
                @Html.ValidationMessageFor(model => model.PO.Comments)
            </td>
        </tr>
    </table>
    <input type="submit" value="Create New PO" onclick="submit()"/>
    <input type="button" value="Cancel" onclick="prompt()" />
}

<script type ="text/javascript">
    $(function () {
        $("#vendor").focus();
    });

    function prompt() {
        var p = confirm("Changes to PO have not been saved! Continue?");

        if (p == true) {
            window.location = "@Url.Action("Index", "Home")"
        }

        function submit() {
            var p = confirm("New PO has been created!");

            if (p == true) {
                window.location = "@Url.Action("Index", "Home")"
            }
        }
    }

</script>

<script type="text/javascript">
    var url = '@Url.RouteUrl("DefaultApi", 
        new { httproute = "", controller = "VendorApi" })';
    $('#vendor').autocomplete({
        autoFocus: true, //set autofocus to the first item in the list
        source: function (request, response) {
            $.ajax({
                url: url,
                data: { query: request.term },
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.VendorName,
                            value: item.VendorId
                        }
                    }));
                }
            })
        },
        select: function (event, ui) {
            $('#vendor').val(ui.item.label);
            $('#Id').val(ui.item.value);
            return false;
        },
        minLength: 1
    });
</script>  