@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Main.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    
    @RenderSection("Styles", false)
    <title>@ViewBag.Title</title>

    <!--Scripts (why can't I have these at the bottom???)-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    @RenderSection("scripts", false)
</head>
<body>
    <div class="content-wrapper">
        <header>
            <div class="title-wrapper">
                @*<p id="site-main-title">Recreation Outlet Inventory Management System</p>*@
                <a href="@Url.Action("Index", "Home")" id = "logo-link"><img src="@Url.Content("~/Content/RecOutletlogo.png")", alt="Home" /></a>
            </div>
        </header>
        <div id="body">
            <section class="tab-subheader" >
                @RenderSection("tabnavigation", false)
            </section>
            @RenderBody()
        </div>
        <footer>
            <div class="footer-wrapper">
                <div class="center-text">
                    <p>&copy; @DateTime.Now.Year - Recreation Outlet</p>
                </div>
            </div>
        </footer>
    </div>


</body>

</html>
