@using System.Web.Optimization;
@model RecOutletWarehouse.Controllers.ItemManagementController.allItemDeptCatSubcatViewModel
@{
    ViewBag.Title = "ItemCharacteristics";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Item Characteristics</h2>

@section tabnavigation{
    <ul class="nav clearfix">
        <li>@Html.ActionLink("Create New Item", "CreateNewItem")</li>
        <li>@Html.ActionLink("Print Item Labels", "PrintLabels")</li>
        <li class="active">@Html.ActionLink("Item Characteristics", "ItemCharacteristics")</li>
    </ul> 
}

<div class="item-char-container">
    <div class="item-char-outter">
        <h3 class="item-char">Departments (@Model.departments.Count)</h3>
        <hr />
        <div class="search-box">
            @*@using (Html.BeginForm())
            {
                @Html.HiddenFor(x => x.dept.DepartmentID, new { id = "dept_id" })
                @Html.TextBoxFor(x => x.dept.DepartmentName, new { id = "dept", @class = "item-char-search", placeholder = "Search for a Department..." })
                <input type="hidden" name="editButton" value="department" />
                <input type="button" value="Search" class="button-search dept-search-button" id="" />
            }*@
            <input id = "dept" class = "item-char-search" placeholder = "Search for a Department..." />
            <input type="button" value="Search" class="button-search dept-search-button" />
        </div>
        <div class="item-char">
            @foreach (var item in Model.departments)
            {
                <div class="item-char-row">
                    <div class="item-char-list1"><p class="item-char">@item.DepartmentID</p></div>
                    <div class="item-char-list2"><p class="item-char">@item.DepartmentName</p></div>
                    @*<div class="item-char-list3"><input type="button" value="Edit" class="button"
                                                            onclick="location.href='@Url.Action("EditItemCharacteristics", "ItemManagement",
                                                                        new { id = item.DepartmentID, editButton = "department" })'" /></div>*@
                    <div class="item-char-list3"><input type="button" value="Edit" class="button dept-dialog-button" id="@(item.DepartmentID)" /></div>
                </div>
            }
        </div>
    </div>
    <div class="item-char-outter">
        <h3 class="item-char">Categories (@Model.categorys.Count)</h3>
        <hr />
        <div class="search-box">
        @*@using (Html.BeginForm())
        {
            @Html.HiddenFor(x => x.cat.CategoryID, new { id = "cat_id" })
            @Html.TextBoxFor(x => x.cat.CategoryName, new { id = "cat", @class = "item-char-search", placeholder = "Search for a Category..." })
            <input type="hidden" name="editButton" value="category" />
            <input type="submit" value="Search" class="button-search" />
        }*@
            <input id = "cat" class = "item-char-search" placeholder = "Search for a Category..." />
            <input type="submit" value="Search" class="button-search cat-search-button" />
        </div>
        <div class="item-char">
            @foreach (var item in Model.categorys)
            {
                <div class="item-char-row">
                    <div class="item-char-list1"><p class="item-char">@item.CategoryID</p></div>
                    <div class="item-char-list2"><p class="item-char">@item.CategoryName</p></div>
                    @*<div class="item-char-list3"><input type="button" value="Edit" class="button"
                                                            onclick="location.href='@Url.Action("EditItemCharacteristics", "ItemManagement",
                                                                        new { id = item.CategoryID, editButton = "category" })'" /></div>*@
                    <div class="item-char-list3"><input type="button" value="Edit" class="button cat-dialog-button" id="@(item.CategoryID)" /></div>
                </div>
            }
        </div>
    </div>
    <div class="item-char-outter">
        <h3 class="item-char">Subcategories (@Model.subcats.Count)</h3>
        <hr />
        <div class="search-box">
        @*@using (Html.BeginForm())
        {
            @Html.HiddenFor(x => x.subcat.SubcategoryID, new { id = "sub_id" })
            @Html.TextBoxFor(x => x.subcat.SubcategoryName, new { id = "sub", @class = "item-char-search", placeholder = "Search for a Subcategory..." })
            <input type="hidden" name="editButton" value="subcategory" />
            <input type="submit" value="Search" class="button-search" />
        }*@
            <input id = "sub" class = "item-char-search" placeholder = "Search for a Subcategory..." />
            <input type="submit" value="Search" class="button-search sub-search-button" />
        </div>
        <div class="item-char">
            @foreach (var item in Model.subcats)
            {
                <div class="item-char-row">
                    <div class="item-char-list1"><p class="item-char">@item.SubcategoryID</p></div>
                    <div class="item-char-list2"><p class="item-char">@item.SubcategoryName</p></div>
                    @*<div class="item-char-list3"><input type="button" value="Edit" class="button"
                                                            onclick="location.href='@Url.Action("EditItemCharacteristics", "ItemManagement",
                                                                        new { id = item.SubcategoryID, editButton = "subcategory" })'" /></div>*@
                    <div class="item-char-list3"><input type="button" value="Edit" class="button sub-dialog-button" id="@(item.SubcategoryID)" /></div>
                </div>
            }
        </div>
    </div>
</div>
<center>
    <input type="button" onclick="JavaScript:newPopup('@Url.Action("addNewDeptCatSubcat", "ItemManagement")');" 
        class="button" value="Add a new Department, Category, and/or Subcategory" />
</center>

@for (int i = 0; i < Model.departments.Count; i++)
{
    <div id="dept-dialog-form@(Model.departments[i].DepartmentID)">
        @using (Html.BeginForm("UpdateItemCharacteristics", "ItemManagement", new { editButton = "department" }, FormMethod.Post))
        {
            <fieldset>
                <legend>Department ID: @Model.departments[i].DepartmentID</legend>
                <hr />
                @Html.HiddenFor(x => x.departments[i].DepartmentID)
                <div class="editor-label">
                    @Html.Label("Department Name")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(x => x.departments[i].DepartmentName)
                </div>
                <br />
                <div class="editor-label">
                    @Html.Label("Department Description")
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(x => x.departments[i].DepartmentDescription)
                </div>
                <input type="submit" class="button" value="Update" />
                <input type="button" id="@(Model.departments[i].DepartmentID)" class="button-cancel dept-dialog-close" value="Cancel" />
            </fieldset>
        }
    </div>
}

@for (int i = 0; i < Model.categorys.Count; i++)
{
    <div id="cat-dialog-form@(Model.categorys[i].CategoryID)">
        @using (Html.BeginForm("UpdateItemCharacteristics", "ItemManagement", new { editButton = "category" }, FormMethod.Post))
        {
            <fieldset>
                <legend>Department ID: @Model.categorys[i].CategoryID</legend>
                <hr />
                @Html.HiddenFor(x => x.categorys[i].CategoryID)
                <div class="editor-label">
                    @Html.Label("Category Name")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(x => x.categorys[i].CategoryName)
                </div>
                <br />
                <div class="editor-label">
                    @Html.Label("Category Description")
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(x => x.categorys[i].CategoryDescription)
                </div>
                <input type="submit" class="button" value="Update" />
                <input type="button" id="@(Model.categorys[i].CategoryID)" class="button-cancel cat-dialog-close" value="Cancel" />
            </fieldset>
        }
    </div>
}

@for (int i = 0; i < Model.subcats.Count; i++)
{
    <div id="sub-dialog-form@(Model.subcats[i].SubcategoryID)">
        @using (Html.BeginForm("UpdateItemCharacteristics", "ItemManagement", new { editButton = "subcategory" }, FormMethod.Post))
        {
            <fieldset>
                <legend>Department ID: @Model.subcats[i].SubcategoryID</legend>
                <hr />
                @Html.HiddenFor(x => x.subcats[i].SubcategoryID)
                <div class="editor-label">
                    @Html.Label("Subcategory Name")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(x => x.subcats[i].SubcategoryName)
                </div>
                <br />
                <input type="submit" class="button" value="Update" />
                <input type="button" id="@(Model.subcats[i].SubcategoryID)" class="button-cancel sub-dialog-close" value="Cancel" />
            </fieldset>
        }
    </div>
}

<script type="text/javascript">
    // Popup window code
    function newPopup(url) {
        popupWindow = window.open(
            url, 'popUpWindow', 'height=700,width=800,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
    }
</script>

@*The following script is for the autocomplete search feature*@
<script type="text/javascript">
    var url = '@Url.RouteUrl("DefaultApi",
        new { httproute = "", controller = "CategoryApi" })';
    $('#cat').autocomplete({
        source: function (request, response) {
            $.ajax({
                url: url,
                data: { query: request.term },
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.CategoryName,
                            value: item.CategoryID
                        }
                    }));
                }
            })
        },
        select: function (event, ui) {
            var id = ui.item.value;

            $('#cat').val(ui.item.label);
            $('#cat_id').val(ui.item.value);

            $('.cat-search-button').attr("id", (ui.item.value))

            return false;
        },
        minLength: 1
    });

    var url1 = '@Url.RouteUrl("DefaultApi",
        new { httproute = "", controller = "SubcategoryApi" })';
    $('#sub').autocomplete({
        source: function (request, response) {
            $.ajax({
                url: url1,
                data: { query: request.term },
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.SubcategoryName,
                            value: item.SubcategoryID
                        }
                    }));
                }
            })
        },
        select: function (event, ui) {
            var id = ui.item.value;

            $('#sub').val(ui.item.label);
            $('#sub_id').val(ui.item.value);

            $('.sub-search-button').attr("id", (ui.item.value))

            return false;
        },
        minLength: 1
    });

    var url2 = '@Url.RouteUrl("DefaultApi",
        new { httproute = "", controller = "DepartmentApi" })';
    $('#dept').autocomplete({
        source: function (request, response) {
            $.ajax({
                url: url2,
                data: { query: request.term },
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.DepartmentName,
                            value: item.DepartmentID
                        }
                    }));
                }
            })
        },
        select: function (event, ui) {
            var id = ui.item.value;

            $('#dept').val(ui.item.label);
            $('#dept_id').val(ui.item.value);

            $('.dept-search-button').attr("id", (ui.item.value))

            return false;
        },
        minLength: 1
    });
</script>

<!-- JQuery Dialog scripts for Departments -->
<script>
    $(function() {
        $( "div[id*='dept-dialog-form']" ).dialog({
            autoOpen: false,
            height: 375,
            width: 425,
            modal: true
        });
 
        $( ".dept-dialog-button" )
          .click(function() {
              $( "#dept-dialog-form" + this.id ).dialog( "open" );
          });

        $( ".dept-search-button" )
          .click(function() {
              $( "#dept-dialog-form" + this.id ).dialog( "open" );
          });

        $( ".dept-dialog-close" )
          .click(function() {
              $( "#dept-dialog-form" + this.id ).dialog( "close" );
          });
    });
</script>

<!-- JQuery Dialog scripts for Categories -->
<script>
    $(function() {
        $( "div[id*='cat-dialog-form']" ).dialog({
            autoOpen: false,
            height: 375,
            width: 425,
            modal: true
        });
 
        $( ".cat-dialog-button" )
          .click(function() {
              $( "#cat-dialog-form" + this.id ).dialog( "open" );
          });

        $( ".cat-search-button" )
          .click(function() {
              $( "#cat-dialog-form" + this.id ).dialog( "open" );
          });

        $( ".cat-dialog-close" )
          .click(function() {
              $( "#cat-dialog-form" + this.id ).dialog( "close" );
          });
    });
</script>

<!-- JQuery Dialog scripts for Subcategories -->
<script>
    $(function() {
        $( "div[id*='sub-dialog-form']" ).dialog({
            autoOpen: false,
            height: 375,
            width: 425,
            modal: true
        });
 
        $( ".sub-dialog-button" )
          .click(function() {
              $( "#sub-dialog-form" + this.id ).dialog( "open" );
          });

        $( ".sub-search-button" )
          .click(function() {
              $( "#sub-dialog-form" + this.id ).dialog( "open" );
          });

        $( ".sub-dialog-close" )
          .click(function() {
              $( "#sub-dialog-form" + this.id ).dialog( "close" );
          });
    });
</script>