@model RecOutletWarehouse.Controllers.PurchaseOrderController.PurchaseOrderCreationViewModel

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<head>
    <title>Add Items to Purchase Order</title>
    <script>
        function doStuff() {
            var nameElement = document.getElementById("someInput");
            var theName = nameElement.value;
            document.getElementById("someDiv").innerHTML += theName;
        }
    </script>
</head>

<h2>Add Items to Purchase Order</h2>
<fieldset>
    <legend>Purchase Order General Information</legend>
    <table>
        <tr>
            <td>PO #:</td>
            <td>@Html.DisplayFor(model => model.PO.POID)</td>
            <td>Vendor:</td>
            <td>@Html.DisplayFor(model => model.PO.VENDOR.VendorName, new { id = "vendor" })</td>
        </tr>
        <tr>
            <td>PO ordered on:</td>
            <td>@Html.DisplayFor(model => model.PO.POOrderDate)</td>
            <td>PO estimated ship date: </td>
            <td>@Html.DisplayFor(model => model.PO.POEstimatedShipDate)</td>
        </tr>
    </table>
</fieldset>

<h3>Items currently on this purchase order</h3>
<div id ="currentLines">
    @{ Html.RenderPartial("POLineItemListPart", Model.AddedLineItems); }
</div>

<h3>Add new items to this purchase order</h3>
<table>
    <tr class="leftjust">
        <th>Item Name</th>
        <th>Vendor Item</th>
        <th>Add Qty</th>
        <th>Cost Each</th>
    </tr>
    @for (int i = 0; i < Model.VendorItems.Count; i++) {
        <tr>
            @using (Ajax.BeginForm("addItemToLineItems", new AjaxOptions { UpdateTargetId = "currentLines" })) {
                @* THE FOLLOWING FIELD USES AN EDITORFOR TEMPLATE, DO NOT MODIFY IN THIS VIEW *@
                @Html.EditorFor(model => Model.VendorItems[i])
                <td>
                    <input type="hidden" name="poid" value="@Model.PO.POID") />
                    <input type="hidden" name="num" value="@(i)" />
                    <input type="submit" value="Add to PO" class="button" />
                </td>
            }
        </tr>
    }
    
</table>
<hr />
<center>
<input type="button" onclick="location.href='@Url.Action("SearchPO", "PurchaseOrder")'" class="button" value="Finish" />
</center>