@model RecOutletWarehouse.Models.PURCHASE_ORDER
@{
    ViewBag.Title = "EditPO";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>EditPO</h2>
<div class="edit-po-container">
    <div class="edit-po">
    @using (Html.BeginForm(null, null, FormMethod.Post))
    {
        <fieldset>
            <legend>Edit PO @Html.DisplayFor(x => x.POID)</legend>
            <div class="editor-label">
                <label>Order Date</label>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(x => x.POOrderDate, new { id = "order-date", @class = "datepicker", 
                        @Value = String.Format("{0:MM/dd/yyyy}", Model.POOrderDate) })
            </div>
            <div class="editor-label">
                <label>Estimated Shipping Date</label>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(x => x.POEstimatedShipDate, new { id = "shipping-date", @class = "datepicker", 
                        @Value = String.Format("{0:MM/dd/yyyy}", Model.POEstimatedShipDate) })
            </div>
            <div class="editor-label">
                <label>Freight Cost</label>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(x => x.POFreightCost)
            </div>
            <div class="editor-label">
                <label>Comments</label>
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(x => x.POComments)
            </div>
            <div class="editor-label">
                <label>PO Terms</label>
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(x => x.POTerms)
            </div>
            @Html.HiddenFor(x => x.POID)
            @Html.HiddenFor(x => x.VendorID)
            @Html.HiddenFor(x => x.VENDOR)
            @Html.HiddenFor(x => x.POCreatedBy)
            @Html.HiddenFor(x => x.POCreatedDate)
            @Html.HiddenFor(x => x.ShippingID)
            @Html.HiddenFor(x => x.POCancelIfNotReceivedBy)
            @Html.HiddenFor(x => x.EMPLOYEE)
            @Html.HiddenFor(x => x.PO_LINEITEM)
            <button type="submit" value="Save">Save</button>
            @Html.ActionLink("Back", "SearchPO")
        </fieldset>
    }
    </div>
    <div class="display-line-items">
        <div class="center-text line-item-area">
            <table class="potable" id="potable">
                <thead>
                    <tr>
                        <th>Vendor ID</th>
                        <th>Item Name</th>
                        <th>Qty</th>
                        <th>Item Cost</th>
                        <th>Total Cost</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.PO_LINEITEM)
                    {
                        <tr>
                            <td>@item.ITEM.VendorItemID</td>
                            <td>@item.ITEM.Name</td>
                            <td>@item.QtyOrdered</td>
                            <td>@String.Format("{0:$0.00}", item.WholesaleCost)</td>
                            <td>@(String.Format("{0:$0.00}", item.QtyOrdered * item.WholesaleCost))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="edit-line-items">
            <center>
                <input type="button" value="Edit Line Items" class="button"
                            onclick="location.href='@Url.Action("AddPOLineItem", "PurchaseOrder", 
                                        new {id = Model.POID})'" />
            </center>
        </div>
    </div>
</div>
<script>
    $('.datepicker').each(function () {
        $(this).datepicker();
    });
</script>