@using RecOutletWarehouse.HtmlHelpers;
@model RecOutletWarehouse.Controllers.PurchaseOrderController.PurchaseOrderSearchViewModel
@{
    ViewBag.Title = "Browse Purchase Orders";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section tabnavigation{
    <ul class="nav clearfix">
        <li>@Html.ActionLink("Create New PO","CreateNewPO")</li>
        <li class="active">@Html.ActionLink("Browse/Search POs","SearchPO")</li>
    </ul>  
}
<h2>Browse / Search Purchase Orders</h2>
<h3>Search</h3>
@using (Html.BeginForm())
{
    <div class="search">
        PO's Order Date: @Html.TextBox("orderDate", DateTime.Now.ToString("MM/dd/yyyy"), new { @class = "datepicker" })
        <input type="submit" value="Search" />
    </div>
}
<hr />
<div class="center-element center-text potable-area">
    <table class="potable" id="potable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Order Date</th>
                <th>Estimated Ship Date</th>
                <th>Odered By</th>
                <th>Freight Cost</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.POs)
            {
                 <tr>
                    <td>@Html.DisplayFor(x => item.POID)</td>
                    <td>@Html.DisplayFor(x => item.POOrderDate, "ShortDateTime")</td>
                    <td>@Html.DisplayFor(x => item.POEstimatedShipDate)</td>
                    <td>@Html.DisplayFor(x => item.EMPLOYEE.FirstName) @Html.DisplayFor(x => item.EMPLOYEE.LastName)</td>
                    <td>@Html.DisplayFor(x => item.POFreightCost)</td>
                    <td><input type="button" value="Edit" class="button"
                                                            onclick="location.href='@Url.Action("EditPO", "PurchaseOrder", 
                                                                        new {id = item.POID})'" /></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="searchTotal">@Model.PagingInfo.TotalItems Purchase Orders match current sorting criteria</div>
<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("SearchPO", new { page = x }))
</div>
<script>
    $('.datepicker').each(function () {
        $(this).datepicker();
    });
</script>

