@model RecOutletWarehouse.Controllers.PurchaseOrderController.PurchaseOrderCreationViewModel

@{
    ViewBag.Title = "POSummary";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Purchase Order Summary</h2>
<fieldset>
    <legend>Purchase Order General Information</legend>
    <table>
        <tr>
            <td><strong>PO #:</strong> </td>
            <td>@Html.DisplayFor(model => model.PO.PurchaseOrderId)</td>
            <td><strong>Vendor:</strong></td>
            <td>@Html.DisplayFor(model => model.PO.Vendor)</td>
        </tr>
        <tr>
            <td><strong>PO ordered on:</strong></td>
            <td>@Html.DisplayFor(model => model.PO.OrderDate)</td>
            <td><strong>PO estimated ship date:</strong> </td>
            <td>@Html.DisplayFor(model => model.PO.EstShipDate)</td>
        </tr>
    </table>
    @*<p>TODO: right-align PO#, Vendor, etc.</p>*@
</fieldset>

<fieldset>
    <legend>Items On This Purchase Order</legend>
    <table>
        <tr class="table-header">
            <td><strong>RPC #</strong>&nbsp;&nbsp;</td>
            <td><strong>Item Name</strong>&nbsp;&nbsp;</td>
            <td><strong>Wholesale Cost</strong>&nbsp;&nbsp;</td>
            <td><strong>Qty to order</strong>&nbsp;&nbsp;</td>
            <td><strong>Vendor's Item #</strong>&nbsp;&nbsp;</td>
            @*<td>TODO: CRUD options for each line</td>*@
        </tr>
        @for (int i = 0; i < Model.LineItems.Count(); i++) {
            if(Model.LineItems[i].RecRPC != 0){
                <tr>
                    <td>@Html.DisplayFor(model => model.LineItems[i].RecRPC)&nbsp;&nbsp;</td>
                    <td>@Html.DisplayFor(model => model.ItemNames[i])&nbsp;&nbsp;</td>
                    <td>$@Html.DisplayFor(model => model.LineItems[i].WholesaleCost)&nbsp;&nbsp;</td>
                    <td>@Html.DisplayFor(model => model.LineItems[i].QtyOrdered)&nbsp;&nbsp;</td>
                    <td>@Html.DisplayFor(model => model.VendorIds[i])&nbsp;&nbsp;</td>
                </tr>
            }
        }
    </table>

</fieldset>
<br />
<h2>@ViewBag.POTotal</h2>
<br />
<input type="button" value ="Print PO" class="button"/>
<input type="button" value="Add More Items to this PO" class="button"/>
<input type="button" value="Duplicate this PO" class="button"/>
<input type="button" value="Return to Main Menu"
    onclick="location.href='@Url.Action("Index","Home")'" class="button"/>