@model IEnumerable<RecOutletWarehouse.Models.SALE_PRICING>

@{
    ViewBag.Title = "ViewSalesPrice";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section tabnavigation{
    <ul class="nav clearfix">
        <li>@Html.ActionLink("View Events", "ViewEvents")</li>
        <li class="active">@Html.ActionLink("View Sale Pricing Information", "ViewSalesPrice")</li>
        <li>@Html.ActionLink("Add an Item to an Event", "AddItemsToEvent")</li>
    </ul>  
}

<h2>View Sale Pricing Information</h2>

<h3>
    @Html.ActionLink("Create", "CreateSalesPrice")
</h3>
<h3>Search</h3>
@using (Html.BeginForm())
{
    <div class="search">
        Item name contains: @Html.TextBox("repNameSearch")
        <input type="submit" value="Search" />
    </div>
}
<div class="roloLinks pager">
    @Html.RolodexLinks(x => Url.Action("VieSalesPrice"))
</div>
<div class=" potable-area">
<table id="priceTable" class="potable">
    <tr class="leftjust">
        <th>
            Item Name
        </th>
        <th>
            RPC
        </th>
        <th>
            Original Selling Price
        </th>
        <th>
            Sale Price
        </th>
        <th>
            Comments
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ITEM.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecRPC)
        </td>
        <td class="right">
            @Html.DisplayFor(modelItem => item.ITEM.SellPrice)
        </td>
        <td class="right">
            @Html.DisplayFor(modelItem => item.SalePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditSalesPrice", new { etc = item.EventTypeCode, rpc = item.RecRPC })
        </td>
    </tr>
}

</table>
