@model RecOutletWarehouse.Models.ItemManagement.Item

@{
    ViewBag.Title = "Item Creation";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Add a New Item to the Database</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Vendor Information</legend>
        <table>
            <tr>
                <td>Vendor Name:</td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Vendor)
                        @Html.ValidationMessageFor(model => model.Vendor)
                    </div>
                </td>
                <td>Product Line:</td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.ProductLine)
                        @Html.ValidationMessageFor(model => model.ProductLine)
                    </div>
                </td>
                <td>Vendor's Item #:</td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.VendorItemID)
                        @Html.ValidationMessageFor(model => model.VendorItemID)
                        <a href="#">What's this?</a>
                    </div>    
                </td>
            </tr>
        </table>

    </fieldset>
    <fieldset>
        <legend>Item Information</legend>
        <table>
            <tr>
                <td>Item UPC:</td>
                <td>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.UPC)
                        @Html.ValidationMessageFor(model => model.UPC)
                    </div>
                </td>
                <td>Item Name:</td>
                <td colspan="3">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.ItemName)
                        @Html.ValidationMessageFor(model => model.ItemName)
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <div class="editor-field">
                        Type a description for the item:<br />
                        @Html.TextAreaFor(model => model.ItemDescription)
                        @Html.ValidationMessageFor(model => model.ItemDescription)
                    </div>
                </td>
            </tr>
            <tr>
                <td>Department:</td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Department)
                        @Html.ValidationMessageFor(model => model.Department)
                    </div>
                </td>
                <td>Category:</td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Category)
                        @Html.ValidationMessageFor(model => model.Category)
                    </div>
                </td>
                <td>Sub-category:</td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Subcategory)
                        @Html.ValidationMessageFor(model => model.Subcategory)
                    </div>
                </td>
            </tr>
        </table>

    </fieldset>
    
    <fieldset>
        <legend>Pricing and Other Sale Information</legend>

        <table>
            <tr>
                <td>MSRP:</td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.MSRP)
                        @Html.ValidationMessageFor(model => model.MSRP)
                    </div>
                </td>
                <td>Regular Selling Price:</td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.SellPrice)
                        @Html.ValidationMessageFor(model => model.SellPrice)
                    </div>
                </td>
                <td>Restricted Age:</td>
                <td>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.restrictedAge)
                        @Html.ValidationMessageFor(model => model.restrictedAge)
                    </div>
                </td>
            </tr>
            <tr>
                <td>Seasonal Code:</td>
                <td colspan="5">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.SeasonCode)
                        @Html.ValidationMessageFor(model => model.SeasonCode)
                    </div>
                </td>
            </tr>
        </table>

    </fieldset>
    <!--Fields that still need to be worked with-->
        <div class="editor-label">
            @Html.LabelFor(model => model.RecRPC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RecRPC)
            @Html.ValidationMessageFor(model => model.RecRPC)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemId)
        </div>
        <div class="editor-field">
            @Html.ValidationMessageFor(model => model.ItemId)
        </div>
    <!--End TODOS-->
    
        <p>
            <input type="submit" value="Create New Item" />
        </p>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
