@model RecOutletWarehouse.Controllers.PurchaseOrderController.PurchaseOrderCreationViewModel
@{
    ViewBag.Title = "Create New Purchase Order";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section tabnavigation{
    <ul class="nav clearfix">
        <li>@Html.ActionLink("Browse/Search POs","SearchPO")</li>
        <li class="active">@Html.ActionLink("Create New PO","CreateNewPO")</li>
    </ul>  
}

<h2>Create a new Purchase Order</h2>
@using (Html.BeginForm()) {
    <table>
        <tr>
            <td>Purchase Order ID:</td>
            <td>
                @Html.TextBoxFor(model => model.PO.PurchaseOrderId, new { @Value = ViewBag.PO })
                @Html.ValidationMessageFor(model => model.PO.PurchaseOrderId)
            </td>
        </tr>
        <tr>
            <td>Vendor ID:</td>
            <td>@Html.TextBoxFor(model => model.PO.Vendor, new { @id = "vendor" })</td>
        </tr>
        <tr>
            <td>PO Order Date:</td>
            <td>@Html.TextBox("PO.OrderDate", DateTime.Now.ToString("yyyy-MM-dd"), new { type = "date" })</td>
        </tr>
        <tr>
            <td>PO Estimated Ship Date:</td>
            <td>@Html.TextBox("PO.EstShipDate", DateTime.Now.AddDays(10).ToString("yyyy-MM-dd"), new{ type="date" })</td>
        </tr>
        <tr>
            <td>PO Estimated Freight Cost:</td>
            <td>@Html.TextBoxFor(model => model.PO.FreightCost)</td>
        </tr>
        <tr>
            <td>PO Terms:</td>
            <td>@Html.TextBoxFor(model => model.PO.Terms)</td>
        </tr>
        <tr>
            <td>Order Comments:</td>
            <td>@Html.TextAreaFor(model => model.PO.Comments)</td>
        </tr>
    </table>
    <input type="submit" value="Create New PO" />
    <input type="button" value="Cancel (TODO)" />
}

<script type="text/javascript">
    var url = '@Url.RouteUrl("DefaultApi", 
        new { httproute = "", controller = "VendorApi" })';
    $('#vendor').autocomplete({
        source: function (request, response) {
            $.ajax({
                url: url,
                data: { query: request.term },
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.VendorName,
                            value: item.VendorId
                        }
                    }));
                }
            })
        },
        select: function (event, ui) {
            $('#vendor').val(ui.item.label);
            $('#Id').val(ui.item.value);
            return false;
        },
        minLength: 1
    });
</script>  