@model RecOutletWarehouse.Controllers.PurchaseOrderController.PurchaseOrderCreationViewModel

@{
    ViewBag.Title = "POSummary";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Purchase Order Summary</h2>
<fieldset>
    <legend>Purchase Order General Information</legend>
    <table>
        <tr>
            <td>PO #:</td>
            <td>@Html.DisplayFor(model => model.PO.PurchaseOrderId)</td>
            <td>Vendor:</td>
            <td>@Html.DisplayFor(model => model.PO.Vendor)</td>
        </tr>
        <tr>
            <td>PO ordered on:</td>
            <td>@Html.DisplayFor(model => model.PO.OrderDate)</td>
            <td>PO estimated ship date: </td>
            <td>@Html.DisplayFor(model => model.PO.EstShipDate)</td>
        </tr>
    </table>
    @*<p>TODO: right-align PO#, Vendor, etc.</p>*@
</fieldset>

<fieldset>
    <legend>Items On This Purchase Order</legend>
    <table>
        <tr class="table-header">
            <td>RPC #</td>
            <td>Item Name</td>
            <td>Wholesale Cost</td>
            <td>Qty to order</td>
            <td>Vendor's Item #</td>
            @*<td>TODO: CRUD options for each line</td>*@
        </tr>
        @for (int i = 0; i < Model.LineItems.Count(); i++) {
            if(Model.LineItems[i].RecRPC != 0){
                <tr>
                    <td>@Html.DisplayFor(model => model.LineItems[i].RecRPC)</td>
                    <td>@Html.DisplayFor(model => model.ItemNames[i])</td>
                    <td>@Html.DisplayFor(model => model.LineItems[i].WholesaleCost)</td>
                    <td>@Html.DisplayFor(model => model.LineItems[i].QtyOrdered)</td>
                    <td>@Html.DisplayFor(model => model.VendorIds[i])</td>
                </tr>
            }
        }
    </table>

</fieldset>
<br />
<input type="button" value ="Print PO" class="button"/>
<input type="button" value="Add More Items to this PO" class="button"/>
<input type="button" value="Duplicate this PO" class="button"/>
<input type="button" value="Return to Main Menu"
    onclick="location.href='@Url.Action("Index","Home")'" class="button"/>