@model RecOutletWarehouse.Controllers.ReceivingLogController.ReceivingLogCreationViewModel

@{
    ViewBag.Title = "EditRL";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<style>
.potable {
    height: 50px;
}
</style>

<h2 class="center-element center-text">EditRL</h2>

<br />

<div class="center-element center-text">
   

    @using (Html.BeginForm("EditRL", "ReceivingLog", FormMethod.Post))
    {
            <div class="potable-area">

            <table class="potable" id="RLtable">

                <tr>
                    <td colspan="7">
                        Current RL:
                        @ViewBag.editRL.ReceivingID
                    </td>
                </tr>

              <tr>
                  <th></th>
                  <th></th>
                <th>Item RPC:</th>
                <th>Qty Type ID:</th>
                <th>Receive Date:</th>
                <th>Qty Received:</th>
                <th>Notes:</th>
              </tr>

            <tr>   

                <td>    
                @Html.HiddenFor(model => model.RL[0].ReceivingID, new { @Value = @ViewBag.editRL.ReceivingID })
                </td>
                <td>
                    @Html.HiddenFor(model => model.RL[0].PO_LINEITEM, new { @Value = @ViewBag.editRL.PO_LINEITEM })
                </td>

                <td>
                    @*Item RPC: *@
                    @ViewBag.editRL.POLineItemID
                    @Html.HiddenFor(model => model.RL[0].POLineItemID, new { @Value = @ViewBag.editRL.POLineItemID })
                </td>

                <td>
                    @Html.DropDownListFor(model => model.RL[0].QtyTypeID, new SelectList(
                        new List<Object> {
                            new { Value = 1, Text = "Each" },
                            new { Value = 2, Text = "Case" },
                            new { Value = 3, Text = "Pallet" }
                        },
                        "value",
                        "text"
                        ,1))
                    
                </td>
                <td>
                    @*Receive Date:*@ 
                    @Html.TextBoxFor(model => model.RL[0].ReceiveDate, new { type = "date", @Value = @ViewBag.editRL.ReceiveDate})
                    @Html.ValidationMessageFor(model => model.RL[0].ReceiveDate)
                </td>
                <td>
                    @*Qty Received:*@ 
                    @Html.TextBoxFor(model => model.RL[0].ReceivedQty, new { @Value = @ViewBag.editRL.ReceivedQty })
                    @Html.ValidationMessageFor(model => model.RL[0].ReceivedQty)
                </td>
                <td>
                    @*Notes:*@ 
                    @Html.TextAreaFor(model => model.RL[0].ReceivingNotes, new { @Value = @ViewBag.editRL.ReceivingNotes })
                </td>
            </tr>
            
            </table>
        </div>
                  
        <br />
            <input type="submit" value="Update Log" class="button" />
    }
</div>
       
    