@model RecOutletWarehouse.Controllers.ItemCategoryController.ItemCategoryViewModel

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<head>
    <title>View and Edit Categories</title>
    <script>
        $(function () {
            $("#tabs").tabs();
        });
    </script>

    @if (ViewBag.activeTab == "Category") {
        <script>
            $(document).ready(function () {
                $("#tabs").tabs({ active: 1 });
            });
        </script>
    }

    @if (ViewBag.activeTab == "Subcategory") {
        <script>
            $(document).ready(function () {
                $("#tabs").tabs({ active: 2 });
            });
        </script>
    }

</head>

<body>
    <h2>What would you like to add?</h2>
    <div id="tabs">
        <ul class ="nav clearfix">
            <li><a href="#tabs-1">New Department</a></li>
            <li><a href="#tabs-2">New Category</a></li>                          
            <li><a href="#tabs-3">New Subcategory</a></li>
        </ul>

        <div id="tabs-2">
            @if (ViewBag.catSuccess != null) {
                <p class="successful-insert">@ViewBag.catSuccess</p>
            }
            @using (Html.BeginForm()) {
                <table>
                    <tr>
                        <td>
                            Category Name: 
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.category.CategoryName)
                            @Html.ValidationMessageFor(model => model.category.CategoryName)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button name="submitButton" value ="Category">Create Category</button>
                        </td>
                    </tr>
                </table>
            }
        </div>

        <div id="tabs-3">
            @if (ViewBag.subcatSuccess != null) {
                <p class="successful-insert">@ViewBag.subcatSuccess</p>
            }
            @using (Html.BeginForm()) {
                <table>
                    <tr>
                        <td>
                            Subcategory Name:
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.subcat.SubcategoryName)
                            @Html.ValidationMessageFor(model => model.subcat.SubcategoryName)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button name="submitButton" value ="Subcategory">Create Subcategory</button>
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div> <!--.tabs-->

    <a href="JavaScript:window.close()">Close Window</a>

</body>