@model RecOutletWarehouse.Models.EMPLOYEE

@{
    ViewBag.Title = "CreateEmployee";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section tabnavigation{
    <ul class="nav clearfix">
        <li>@Html.ActionLink("Manage Employees", "BrowseEmployee")</li>
        <li class="active">@Html.ActionLink("Add a Employee", "CreateEmployee")</li>
    </ul>  
}

<h2>Create Employee</h2>


@using (Ajax.BeginForm("CreateEmployee", null, new AjaxOptions { UpdateTargetId = "blah" }, new { @id = "form" }))
{


    <fieldset>
        <legend>Employee</legend>

        <div class="editor-label">
            First Name:<strong class="required">*</strong>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            Last Name:<strong class="required">*</strong>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            Position:<strong class="required">*</strong>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Position)
            @Html.ValidationMessageFor(model => model.Position)
        </div>

        <div class="editor-label">
            Username:<strong class="required">*</strong>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Username, new { @id = "username" })
            @Html.ValidationMessageFor(model => model.Username)
        </div>

        <div class="editor-label">
            Password:<strong class="required">*</strong>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Password, new { @type = "password" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <p>
            <input type="submit" value="Create" class="button" id="form" />
            <input type="button" value="Cancel" onclick="prompt()" class="button" />
        </p>
    </fieldset>
    
}
<div id="error-modal" title="ERROR: Duplicate Entry">
    That username is taken. Please edit the username.
</div>

<script type ="text/javascript">

   
 function prompt() {
        var p = confirm("the new Employee have not been saved! Continue?");

        if (p == true) {
            window.location = "@Url.Action("BrowseEmployee", "Employee")"
            }
 }
    $("#error-modal").dialog({
        height: 140,
        modal: true,
        autoOpen: false
    });

    $("#form").submit(function (event) {
        $.getJSON('@Url.Action("CheckForDuplicateEmployees", "Employee")',
            {
                username: $('#username').val()
            },
            function (data) {
                if (data.isDuplicate) {
                    $('#error-modal').dialog('open');
                }
            }
        );

    });
</script>

