@model RecOutletWarehouse.Controllers.EmployeeController.ConfirmPasswordViewModel

@{
    ViewBag.Title = "EditEmployee";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Edit Employee</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Changes were not saved.")

    <fieldset>
        <legend>Employee Information</legend>

        @Html.HiddenFor(model => model.employee.EmployeeId)

        <div class="editor-label">
            First Name:<strong class="required">*</strong>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.employee.FirstName)
            @Html.ValidationMessageFor(model => model.employee.FirstName)
        </div>

        <div class="editor-label">
            Last Name:<strong class="required">*</strong>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.employee.LastName)
            @Html.ValidationMessageFor(model => model.employee.LastName)
        </div>

        <div class="editor-label">
            Position:<strong class="required">*</strong>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.employee.Position)
            @Html.ValidationMessageFor(model => model.employee.Position)
        </div>

        <div class="editor-label">
            Username:<strong class="required">*</strong>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.employee.Username)
            @Html.ValidationMessageFor(model => model.employee.Username)
        </div>

        <div class="editor-label">
           New Password:<strong class="required">*</strong>
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>
        <div class="editor-label">
        Confirm Password:<strong class="required">*</strong>
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        <p>
            <input type="submit" value="Save" class="button"/>
            <input type="button" value="Cancel" onclick="prompt()" class="button" />
        </p>
    </fieldset>
}
<script type ="text/javascript">


    function prompt() {
        var p = confirm("Employee changes have not been saved! Continue?");

        if (p == true) {
            window.location = "@Url.Action("BrowseEmployee", "Employee")"
        }
    }

</script>


