@{
    ViewBag.Title = "Recreation Outlet";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Inventory Management</h2>
   
<table class="button-columns center-element center-text">
    <tr>
        <td><input type="button" value="Purchase Order Management" class="main-menu-button"
                onclick="location.href='@Url.Action("CreateNewPO","PurchaseOrder")'" />
        </td>
        <td><input type="button" value="Merchandise Transfers" disabled="disabled" class="main-menu-button"
                onclick="location.href='@Url.Action("Index","MerchTransfer")'" />
        </td>
    </tr>
    <tr>
        <td><input type="button" value="Invoice Management" disabled="disabled" class="main-menu-button"
                onclick="location.href='@Url.Action("Index","Invoice")'" />
        </td>
        <td><input type="button" value="Store Reports" disabled="disabled" class="main-menu-button"
                onclick="location.href='@Url.Action("Index","StoreReports")'" />
        </td>
    </tr>
    <tr>
        <td><input type="button" value="Item Management" class="main-menu-button"
                onclick="location.href='@Url.Action("CreateNewItem","ItemManagement")'" /></td>
        <td><input type="button" value="Warehouse Reports" disabled="disabled" class="main-menu-button"
                onclick="location.href='@Url.Action("Index","WarehouseReports")'" /></td>
    </tr>
    <tr>
        <td><input type="button" value="Receiving Log" class="main-menu-button"
                onclick="location.href='@Url.Action("Index","ReceivingLog")    '" /></td>
        <td><input type="button" value="Vendor Management" class="main-menu-button"
                onclick="location.href='@Url.Action("BrowseVendors","Vendor")'" /></td>
    </tr>
    <tr>
            <td><input type="button" value="View Events" class="main-menu-button"
                onclick="location.href='@Url.Action("ViewEvents","Event")    '" /></td>
    </tr>

</table>
