@model RecOutletWarehouse.Controllers.ItemManagementController.newItemDeptCatSubcatViewModel
@{
    ViewBag.Title = "EditItemCharacteristics";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Edit Item Characteristics</h2>

@if (ViewBag.editButton == "category")
{
    using (Html.BeginForm())
    {
        <fieldset>
            <legend>Edit Category</legend>
            <div class="editor-label">
                <label>Category ID: @Html.DisplayFor(x => x.category.CategoryID)</label>
            </div>
            <hr />
            <div class="editor-label">
                <label>Category Name</label>
            </div>
            <div class="editor-field">
                @Html.EditorFor(x => x.category.CategoryName)
            </div>
            <div class="editor-label">
                <label>Category Description</label>
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(x => x.category.CategoryDescription)
            </div>
            <button name="editButton" type="submit" value="category" class="button">Save</button>
            @Html.HiddenFor(x => x.category.CategoryID)
        </fieldset>
    }
}
else if (ViewBag.editButton == "subcategory")
{
    using (Html.BeginForm())
    {
        <fieldset>
            <legend>Edit Subcategory</legend>
            <label>Subcategory ID: @Html.DisplayFor(x => x.subcat.SubcategoryID)</label>
            <hr />
            <div class="editor-label">
                <label>Subcategory Name</label>
            </div>
            <div class="editor-field">
                @Html.EditorFor(x => x.subcat.SubcategoryName)
            </div>
            <button name="editButton" type="submit" value="subcategory" class="button">Save</button>
            @Html.HiddenFor(x => x.subcat.SubcategoryID)
        </fieldset>
    }
}
else if (ViewBag.editButton == "department")
{
    using (Html.BeginForm())
    {
        <fieldset>
            <legend>Edit Department</legend>
            <label>Department ID: @Html.DisplayFor(x => x.department.DepartmentID)</label>
            <br />
            <div class="editor-label">
                <label>Department Name</label>
            </div>
            <div class="editor-field">
                @Html.EditorFor(x => x.department.DepartmentName)
            </div>
            <div class="editor-label">
                <label>Department Description</label>
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(x => x.department.DepartmentDescription)
            </div>
            <button name="editButton" type="submit" value="department" class="button">Save</button>
            @Html.HiddenFor(x => x.department.DepartmentID)
        </fieldset>
    }
}
