@using System.Web.Optimization;
@model RecOutletWarehouse.Controllers.ItemManagementController.ItemCategoryViewModel

@{
    ViewBag.Title = "Browse Categories";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section tabnavigation{
    <ul class="nav clearfix">
        <li>@Html.ActionLink("Create New Item","CreateNewItem")</li>
        <li>@Html.ActionLink("Print Item Labels","PrintLabels")</li>
        <li class="active">@Html.ActionLink("View Categories","BrowseEditCategory")</li>
    </ul>  
}

<h2>Category List</h2>
@if(ViewBag.ItemSuccessfulInsert != null){
<ul>
    <li class="successful-insert">@ViewBag.ItemSuccessfulInsert</li>
</ul>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Category List</legend>
            <table>
                <tr>
                    <th>
                        Category ID
                    </th>
                    <th>
                        Category Name
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
    
            @foreach (var c in Model.Categories) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => c.CategoryID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => c.CategoryName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditCategory", new { id=c.CategoryID })
                    </td>
                </tr>
}
        </table>

    </fieldset>
}