@model RecOutletWarehouse.Models.EVENT_TYPE

@{
    ViewBag.Title = "Create Event";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section tabnavigation{
    <ul class="nav clearfix">
         <li>@Html.ActionLink("View Sale Pricing Information", "ViewSalesPrice")</li>
        <li class="active">@Html.ActionLink("View Events", "ViewEvents")</li>
    </ul>  
}

<h2>Create Event</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Event Information</legend>

        <div class="editor-label">
            Description
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EventDescription)
            @Html.ValidationMessageFor(model => model.EventDescription)
        </div>

       <p>
            <input type="submit" value="Create" />
        </p> 

    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "ViewEvents")
</div>

