@model RecOutletWarehouse.Models.EVENT_TYPE

@{
    ViewBag.Title = "EditEvent";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Edit Event</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Event Information</legend>

        <div class="editor-label">
            Type
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EventTypeCode)
            @Html.ValidationMessageFor(model => model.EventTypeCode)
        </div>

        <div class="editor-label">
            Description
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EventDescription)
            @Html.ValidationMessageFor(model => model.EventDescription)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "ViewEvents")
</div>
@*
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
*@