@model RecOutletWarehouse.Controllers.ReceivingLogController.BrowseReceivingLogViewModel

@{
    ViewBag.Title = "SearchRL";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section tabnavigation{
    <ul class="nav clearfix">
        <li>@Html.ActionLink("Create Receiving Log", "Index")</li>
        <li class="active">@Html.ActionLink("Browse Receiving Logs", "BrowseReceivingLogs")</li>
    </ul>  
}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">

<h2>Browse and View Receiving Logs</h2>

@using (Html.BeginForm())
{    
    <div class="search">
        By Received Date: @Html.TextBox("receiveDate", DateTime.Now.ToString("MM/dd/yyyy"), new { @class = "datepicker" })
        By Log ID: @Html.TextBox("receivingLogID")
        <input type="submit" value="Search" />
    </div>
}
<hr />
<div class="center-element center-text potable-area">
    <table class="potable" id="potable">
        <thead>
            <tr>
                <th>Receiving Log ID</th>
                <th>PO ID</th>
                <th>PO Created By</th>
                <th>Item RPC</th>
                <th>Received Date</th>
                <th>Quantity Type</th>
                <th>Received Quantity</th>
                <th>Receiving Log Notes</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var item in Model.RLs)
            {
                var index = Model.RLs.ToList().IndexOf(item);
                var qty = Model.qtytype[index];
                var rpc = Model.RPCs[index];
                var createdby = Model.CreatorIDs[index];
                var poids = Model.POIDs[index];
                 <tr>
                     
                    <td>@Html.DisplayFor(x => item.ReceivingID)</td>
                     <td>@Html.DisplayFor(x => poids)</td>
                     <td>@Html.DisplayFor(x => createdby)</td>
                     <td>@Html.DisplayFor(x => rpc)</td>
                    <td>@Html.DisplayFor(x => item.ReceiveDate, "ShortDateTime")</td>
                     <td>@Html.DisplayFor(x => qty)</td>
                    <td>@Html.DisplayFor(x => item.ReceivedQty)</td>
                    <td>@Html.DisplayFor(x => item.ReceivingNotes)</td>
                    <td><input type="button" class="button" 
                        onclick="JavaScript:newPopup('@Url.Action("EditRL", "ReceivingLog",
                        new { id = item.ReceivingID })');" 
                        value="Edit" /></td>
                     
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $('.datepicker').each(function () {
        $(this).datepicker();
    });
</script>
<script type="text/javascript">
    function newPopup(url) {
        popupWindow = window.open(
            url, 'popUpWindow', 'height=700,width=1000,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
    }
</script>

